[submodule "client"]
	path = client
	url = https://github.com/cat-katsushika/project11-client.git
[submodule "server"]
	path = server
	url = https://github.com/cat-katsushika/project11-server.git
[submodule "dify-dsl"]
	path = dify-dsl
	url = https://github.com/cat-katsushika/project11-dify-dsl.git
